{% extends 'index.html' %} 

{% load post_extras %}

{% block content %}

<script defer src="/static/js/face-api.min.js"></script>
<script defer src="/static/js/camera.js"></script>

<style>
    canvas:not(#imageHolder) {
      position: absolute;
    }
    .camera-title {
        font-size: 4rem;
        line-height: 4rem;
        font-weight: 900 !important;
        margin-top: 5rem !important;
        margin-bottom: 2rem !important;
    }
    .camera-desc {
        font-size: 2rem;
        line-height: 3rem;
        font-weight: 500 !important;
        margin-bottom: 3rem !important;

    }

</style>
<script>
    // GET 방식으로 전송된 데이터 읽기
    $.extend({
        getUrlVars: function(){
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') +1).split('&');
            for(var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            console.log(vars);
            return vars;
        }, 
        
        getUrlVar: function(name) {
            return $.getUrlVars()[name];
        }
        
    });
</script>

<!-- Page Content-->
<section class="py-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
            <div class="text-center mb-5">
                <h1 class="camera-title fw-bolder">카메라를 응시해주세요</h1><br>
                <p class="camera-desc">연령대 별 추천 메뉴를 안내해드립니다.</p><br>
                <br>
                <img src="/static/assets/spinner.gif" alt="loading" width="120">
                <p class="lead fw-normal text-muted" id='seconds' style="display:none;">8</p>
            </div>
        </div>
    </div>

    <div class="row gx-5">
        <div class="col-12 text-center justify-content-center" style="display: flex;" id="cameraHolder">
            <video width="1260" height="980" id="video" autoplay></video>
        </div>
        <div class="col-12 text-center justify-content-center" style="display: none;">
            <canvas id="imageHolder" width="1260" height="980"></canvas>
        </div>
        <form id="face_submission" action="{% url 'cafe:camera' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input id="box" type="hidden" name="box" value=""/>
        </form>

        <div class="col-lg-5 text-center" id="estimation_result">
        </div>
    </div>
</section>

 {% comment %} <script>
    function isCanvasBlank(canvas) {
        return !canvas.getContext('2d')
          .getImageData(0, 0, canvas.width, canvas.height).data
          .some(channel => channel !== 0);
      }
    
</script>
<script>
    timeLeft = 10;
    const canvas = document.getElementById("imageHolder")

    function countdown() {
        timeLeft--;
        document.getElementById("seconds").innerHTML = String( timeLeft );

        if (timeLeft > 0) {
            setTimeout(countdown, 1000);
        } 
        else if(isCanvasBlank(canvas)){
            document.getElementById("seconds").innerHTML = "EXPIRED";
            setTimeout(countdown, 1000);
        } 
        else{
            document.getElementById("seconds").innerHTML = "EXPIRED";
        
            var dataURL = canvas.toDataURL("image/png");
            var blobBin = atob(dataURL.split(',')[1]);
            var array = [];
            for (var i = 0; i < blobBin.length; i++) {
                array.push(blobBin.charCodeAt(i));
            }
            var file = new Blob([new Uint8Array(array)], {type: 'image/png'});
            
            // FormData -> Bounding Box와 Image
            var formdata = new FormData(document.getElementById("face_submission"));
            var usage_type = $.getUrlVar('usage_type');      

            formdata.append("face_image", file);
            formdata.append("usage_type", usage_type);	
            formdata.append("box", document.getElementById("box").value);

            // 동기 방식으로 서버에 FormData 전송
            // 전송에 성공할 경우, 페이지 이동
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "camera", false);
            xhr.onload = () => {
                if (xhr.status == 200) {
                    //let page_url = xhr.response['page_url'];
                    let result = xhr.response;
                    window.location.href = result;
                    //document.getElementById("estimation_result").innerHTML = result;
                    
                } else {
                    alert("ERROR LOADING FILE!" + this.status);
                }
            };
 
            xhr.send(formdata);
        }

    };
    setTimeout(countdown, 800);
    //window.location.href = page_url;
    
</script>  {% endcomment %}

{% endblock content %}