{% extends 'index.html' %} 

{% load post_extras %}

{% block content %}

<style>
    canvas:not(#imageHolder) {
      position: absolute;
    }
    .camera-title {
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: 900 !important;
        margin-top: 3rem !important;
        margin-bottom: 2rem !important;
    }
    .camera-desc {
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 600 !important;
        margin-bottom: 1rem !important;
    }
</style>

<script>
    // GET 방식으로 전송된 데이터 읽기
    $.extend({
        getUrlVars: function(){
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') +1).split('&');
            for(var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            console.log(vars);
            return vars;
        }, 
        
        getUrlVar: function(name) {
            return $.getUrlVars()[name];
        }
        
    });
</script>

<!-- Page Content-->
<section class="py-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
            <div class="text-center mb-2">
                <h1 class="camera-title fw-bolder">카메라를 응시해주세요</h1><br>
                <p class="camera-desc">연령대 별 추천 메뉴를 안내해드립니다.</p><br>
                <img src="/static/assets/spinner.gif" alt="loading" width="80">
                <p class="lead fw-normal text-muted" id='seconds' style="display:none;">8</p>
            </div>
        </div>
    </div>

    <div class="row gx-5">
        <video width="720" height="720" id="video" style="display: none;" autoplay></video>
        <div class="col-12 text-center justify-content-center" style="display: flex;" id="cameraHolder">
            <canvas id="imageHolder" width="720" height="720"></canvas>
        </div>
        
        <!-- Image Crop Test-->
        <div class="col-12 text-center justify-content-center" style="display: none;" id="cameraHolder2">
            <canvas id="imageHolder2" width="128" height="128"></canvas>
        </div>

        <form id="estimation_submission" action="{% url 'cafe:camera' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input id="age_group" type="hidden" name="age_group" value=""/>
        </form>
        <div class="col-lg-5 text-center camera-title" id="estimation_result" style="display: none;"></div>
        <div class="col-lg-5 text-center camera-title" id="estimation_confidence" style="display: none;"></div>

    </div>
</section>


<script>

    function get_average(nums){
        console.log(nums);
        var sum = 0;
        for( var i = 1; i < nums.length; i++ ){
            sum += parseInt( nums[i], 10 );
        }
        var avg = sum/(nums.length - 1);
        
        return Math.round(avg / 10) * 10;
    }

    function page_move(avg_age, avg_conf, customer_id){
        }
    // 10초 후, 예측한 연령대를 기반으로 페이지 이동
    timeLeft = 10;
    const canvas = document.getElementById("imageHolder")

    function countdown() {
        timeLeft--;
        document.getElementById("seconds").innerHTML = String( timeLeft );

        if (timeLeft > 0) {
            setTimeout(countdown, 1000);
        } 
        else{
            document.getElementById("seconds").innerHTML = "EXPIRED";

            var predicted_age = document.getElementById("estimation_result").innerHTML.split(" ");
            var predicted_confs = document.getElementById("estimation_confidence").innerHTML.split(" ");

            var avg_age = get_average(predicted_age);
            var avg_conf = get_average(predicted_confs);

            var formdata = new FormData(document.getElementById("estimation_submission"));
            formdata.append("age_group", Math.round(avg_age / 10) * 10);	

            // 동기 방식으로 서버에 FormData 전송
            // 전송에 성공할 경우, 페이지 이동
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "camera", false);
            xhr.onload = () => {
                if (xhr.status == 200) {
                    let customer_id = xhr.response;
                    var page_url = "";
                    if (avg_age < 40){
                        page_url = "{% url 'cafe:young_order' %}";               
                    }else{
                        page_url = "{% url 'cafe:old_order' %}";
                    }
                    window.location.href = page_url + "?usage_type=" + $.getUrlVar('usage_type') + "&age=" + avg_age + "&confidence=" + (avg_conf).toFixed(2) + "&customer_id=" + customer_id;
                
                } else {
                    alert("ERROR LOADING FILE!" + this.status);
                }
            };
            xhr.send(formdata);            
        }
    };
    setTimeout(countdown, 1000);    
</script>

<script defer src="/static/js/face-api.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"></script>

<script defer src="/static/js/detect.js"></script>
{% comment %} <script defer src="/static/js/yolov5-detect.js"></script> {% endcomment %}
{% comment %} <script defer src="/static/js/yolov5-detect-jh.js"></script> {% endcomment %}

{% endblock content %}