{% extends 'index.html' %} 

{% load post_extras %}

{% block content %}

<style>
    .check-title {
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 900 !important;
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }
    .check-order-num {
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 800 !important;
        margin-bottom: 1rem !important;
    }
    .check-desc {
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 500 !important;
        padding-bottom: 2rem !important;
    }
</style>

<!-- Page Content-->
<section class="py-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
            <div class="text-center mb-5" style="margin-top: 20rem !important;">
                <h1 class="check-title fw-bolder">주문이 완료되었습니다</h1><br>
                <div class="row text-center justify-content-center">
                    <div class="col-lg-8 col-8 bg-muted justify-content-center">
                        <p class="check-order-num" style="padding-top:3rem;">주문 번호: {{order_id}}</p><br>
                        <p class="check-desc">잠시 기다려 주세요</p><br>
        
                        <p class="lead fw-normal text-muted" id='seconds' style="display:none;">10</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    // 15초 후, 홈으로 이동
    timeLeft = 15;
    const canvas = document.getElementById("imageHolder")

    function countdown() {
        timeLeft--;
        document.getElementById("seconds").innerHTML = String( timeLeft );

        if (timeLeft > 0) {
            setTimeout(countdown, 1000);
        } 
        else{
            document.getElementById("seconds").innerHTML = "EXPIRED";
            window.location.href = "{% url 'cafe:home' %}"
        }
    };
    setTimeout(countdown, 1000);    
</script>

{% endblock content %}