{% extends 'index.html' %} 

{% block content %}

<!-- 가로 : 768 세로 : 1024-->
<style>
    .py-custom {
        padding-top: 21.5% !important;
        padding-bottom: 21.5% !important;
        
    }

    h1 {
        color : black;
        font-size : 32px;
    }

    div {
        margin-bottom: 40px;
      }

    .box1 {
        box-sizing: content-box;
        width: 190px;
        height: 190px;
        margin: 10px;
        padding: 10px;
        border-radius: 2rem;
    }

    .box2{
        box-sizing: content-box;
        width: 190px;
        height: 190px;
        margin: 10px;
        padding: 10px;
        border-radius: 2rem;
    }

    .temp-box{
        width: 50px;
        height: 50px;
    }

    .si {
        margin-top : 100px;
        margin-bottom : 100px;
    }

    .background {
    }

    .vertical {
        vertical-align : middle;
    }
</style>
<style>
    .home-py-5 {
        padding-top: 9rem !important;
        padding-bottom: 9rem !important;
      }

    .font1{
        color : #E51937;
        font-size : 32px;
    }

    @font1 {
        font-family: 'KOFIHDrLEEJWTTF-B';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/KOFIHDrLEEJWTTF-B.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
    }

    .font2{
        color : #E51937;
        font-size : 25px;
    }
    * {
        font-family: 'KOFIHDrLEEJWTTF-B';
    
    }
    .home-back {
        width: 768px;
        height: 1300px;
    }

    td {
        font-size : 50px;
        vertical-align : middle;
    }

    .font_t {

    }

</style>
<section>
<div class="home-back" style="background-color:#F2F2F2;">

<div class="py-5">
    <div class="container home-py-5 si">
        <div class="row justify-content-center text-center">


        <div class="si">
            <div class="text-center">
                <h1 class="fw-bolder mb-2 font1">CAFE AIVLE</h1><br>
                <p class="lead fw-normal mb-0 font2">어서오세요! 카페 에이블입니다 </p>
            </div>
        </div>

                <div id="box">
                    <div class="btn btn-lg col-5 box1" style="background-color:#FFFFFF;" id="btnCash" OnClick="location.href ='{% url 'cafe:camera' %}?usage_type=restaurant'" >
                        <div class="container px-5 px-lg-5 my-5">
                            <div class="text-center">
                                <h1 class="fw-bolder font_t"><i class="bi"></i>매장식사</h1>

                            </div>
                        </div>
                    </div>

                    <div class="btn btn-lg col-6 box2" style="background-color:#FFFFFF;" id="btnCoupon" OnClick="location.href ='{% url 'cafe:camera' %}?usage_type=takeout'" >
                        <div class="container px-5 px-lg-5 my-5 ">
                            <div class="text-center">
                                <h1 class="fw-bolder font_t"><i class="bi bi-qr-code-scan"></i> 방문포장</h1>
                            </div>
                        </div>
                    </div>

                </div>

        </div>
    </div>
</div>
</div>
</section>

{% endblock content %}
