{% extends 'index.html' %} 

{% block content %}

<!-- Section-->
<section>
        <div class="bg-warning py-5" OnClick="location.href ='{% url 'cafe:detect_age_group' %}'" style="cursor:pointer;" >
            <div class="container px-5 px-lg-5 my-5">
                <div class="text-center">
                    <h1 class="display-4 fw-bolder">매장에서 먹고가기</h1>
                    <p class="lead fw-normal text-muted mb-0">매장 안 식사를 준비해드리겠습니다.</p>
                </div>
            </div>
        </div>

    <div class="bg-secondary py-5" OnClick="location.href ='{% url 'cafe:detect_age_group' %}'" style="cursor:pointer;">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center">
                    <h1 class="display-4 fw-bolder">포장하기</h1>
                    <p class="lead fw-normal text-muted mb-0">음식을 포장해드립니다.</p>
                </div>
            </div>
        </div>
</section>

{% endblock content %}