{% extends 'index.html' %} 

{% load post_extras %}
{% block content %}


<style>
    .btn-payment {
        cursor:pointer;
        margin: 5% 0 0 0;
    }
    #btnCash {
        margin: 5% 2rem 0 0;
    }
    #btnCoupon {
        margin: 5% 0 0 1rem;
    }
      
</style>
<!-- Section-->
<!-- Header-->
<div class="py-5">
	<div class="container px-5">
        <h1 class="fw-bolder mt-5 mb-2">원하시는 결제 방법을 선택해주세요</h1><br>

        <div class="row justify-content-center text-center">
            <div class="row justify-content-center text-center" data-bs-toggle="modal" data-bs-target="#portfolioModal_card">
                <div class="btn btn-outline-primary btn-lg btn-payment" OnClick="location.href ='#'" >
                    <div class="container px-5 px-lg-5 my-5">
                        <div class="text-center">
                            <h1 class="display-4 fw-bolder"><i class="bi bi-credit-card"></i> 카드</h1><br>
                            <p class="lead fw-normal text-muted mb-0" style="line-height: 1.6;">신용/체크 카드<br> 간편 결제 (각종 페이)</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-modal modal fade" id="portfolioModal_card" tabindex="-1" aria-labelledby="portfolioModal_card" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header border-0"></button></div>
                        <div class="modal-body text-center pb-5">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Title-->
                                        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">신용카드 결제</h2><br>
                                        <span class="mb-4" style="font-size: 1.2em;">신용카드를 투입구에 넣어주세요</span><br>


                                        <!-- Portfolio Modal - Image-->
                                        <img class="img-fluid rounded mb-5" src="/static/assets/img/card_example.PNG" alt="..." />
                                        <!-- Portfolio Modal - Text-->
                                        <button class="btn btn-secondary btn-lg" data-bs-dismiss="modal">
                                            <i class="fas fa-xmark fa-fw"></i>
                                            결제 취소
                                        </button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center text-center">
            
                <div class="btn btn-outline-primary btn-lg col-5" id="btnCash" OnClick="location.href ='#'" >
                    <div class="container px-2 px-lg-2 my-5">
                        <div class="text-center">
                            <h1 class="fw-bolder" style="line-height: 1.6;"><i class="bi bi-cash-coin"></i> 뭐 넣지?</h1><br>
                            <p class="lead fw-normal text-muted mb-0" style="line-height: 1.6;">몰라요 <br>알려주셈</p>
    
                        </div>
                    </div>
                </div>


                <div class="btn btn-outline-primary btn-lg col-6" id="btnCoupon" OnClick="location.href ='#'" data-bs-toggle="modal" data-bs-target="#portfolioModal_coupon">
                    <div class="container px-6 px-lg-5 my-5">
                        <div class="text-center" >
                            <h1 class="fw-bolder"><i class="bi bi-upc-scan"></i> 제품 교환권</h1><br>
                            <p class="lead fw-normal text-muted mb-0" style="line-height: 1.6;">제휴 제품 교환권 <br> 모바일 제품 교환권</p>
    
                        </div>
                    </div>
                </div>
                <div class="portfolio-modal modal fade" id="portfolioModal_coupon" tabindex="-1" aria-labelledby="portfolioModal_coupon" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header border-0"></button></div>
                            <div class="modal-body text-center pb-5">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">모바일 쿠폰</h2><br>
                                            <span class="mb-4" style="font-size: 1.2em;">모바일 쿠폰을 스캔해주세요</span><br>
                                            <div class="py-2"></div>
                                            <!-- Portfolio Modal - Image-->
                                            <img class="img-fluid rounded mb-5" src="/static/assets/img/coupon_example.PNG" alt="..." />
                                            <!-- Portfolio Modal - Text-->
                                            <button class="btn btn-secondary btn-lg" data-bs-dismiss="modal">
                                                <i class="fas fa-xmark fa-fw"></i>
                                                결제 취소
                                            </button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
        </div>
    </div>
</div>

{% endblock content %}

{% block cart %}
{% endblock %}
