{% extends 'index.html' %} 

{% load post_extras %}
{% block content %}


<script>  
    function pay_now() { 
        var form = document.getElementById("confirmed_order_submission");
        var parm = new Array();

        let carts = [
                    {% for item in cart_all %}
                        {
                            id: "{{ item.id }}",
                        },
                    {% endfor %}
                ]
        var orders = new Array();
        for (let i=0; i < carts.length; i++){
            orders.push(carts[i].id);
        }
        console.log(orders);
        parm.push( ['usage_type', "{{usage_type|safe}}"] );
        parm.push( ['orders', orders] );
        parm.push( ['total_price', "{{total_price|safe}}"] );

        var input = new Array();
        for (var i = 0; i < parm.length; i++) {
            input[i] = document.createElement("input");
            input[i].setAttribute("type", "hidden");
            input[i].setAttribute('name', parm[i][0]);
            input[i].setAttribute("value", parm[i][1]);
            form.appendChild(input[i]);
        }
        document.body.appendChild(form);
        form.submit();
    }

</script>

<style>
    #totalPrice {
        border-style: solid;
        border-color: gray;
        border-width: 0px 0px 1px 0px;
        margin: 0 0 0 0;
        align-items : center;
        display : flex;
        padding: 3% 0 0 0;

    }
</style>

<!-- Header-->
<div class="py-3">
	<div class="container px-1">
        <div class="payment">
            <div class="row">
                <div id="pay-cancel" class="py-5" OnClick="window.history.back();" style="cursor:pointer;" >
                    <h1 class="display-3 fw-bolder text-danger">< 취소하기</h1>
                </div>
        <h1 class="display-3 fw-bolder mt-5 mb-2">주문 내역</h1><br>      
        
		<section class="py-3">
            <div class="container my-5 py-5">
                <div class="row gx-3"> 
                    {% for item in cart_all %} 
                        <div class='col-lg-4 col-4 mt-5'>
                            <div class='card h-100 border-1'>
                                <img class='card-img-top' src={{item.menu.image|fix_route|default:'https://dummyimage.com/600x400/403f40/d4d4d4.png'}} />
                                <div class='card-body'>
                                    <a class='text-decoration-none link-dark stretched-link text-center'>
                                        <h5 class='card-title mb-3'>
                                            <strong>{{item.menu.title}} </strong>
                                        </h5>
                                    </a>
                                    <p class='card-text mb-0 text-center'>수량 : {{item.count}}</p>
                                </div>
                            </div>
                        </div> 
                    {% endfor %} 
                </div>
            </div>
        </section>
	</div>
</div>
{% endblock content %}
            

{% block cart %}

<style>
    .bottombar {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 0.5rem;
        padding-bottom: 0rem;
      }
    .cart-info {
        border-radius: 35px 35px 0px 0px; 
        width: 100%; 
        padding: 1rem 1rem;
    }
    .payment {
        width: 100%; 
    }
    #cash-pay, #card-pay {
        width: 50%; 
        height: 400px;
        text-align: center;
        padding-top: 1rem;
-    }
    #pay-cancel {
    width: 50%; 
    height: 200px;
    padding-top: 1rem;
-    }
    #pay-cancel {
        color: #000000;
        background-color: #ffffff;
    }
    #cash-pay #card-pay {
        color: #ffffff;
        background-color: #FF0000;
    }
    #pay-cancel:hover {
        color: #000000;
        background-color: #ffffff;
    }
    #pay:hover {
        color: #ffffff;
        background-color: #9B111E;
    }
    #cart-list > * {
        color: #fff;
        text-align: center;
        font-size: 1.25rem;
        padding-bottom: 0.5rem;
        
    }
    #cartElement {
        text-align: left;
        padding-left: 2rem;
    }
</style>



<section class="bottombar">
    <div class="row gx-4 gx-lg-5" id="totalPrice">
        <div class="col-9"><h1 class="fw-normal mt-5 mb-4">총 주문 금액</h1></div>
        <div class="col-3"><h1 class="fw-normal mt-3 mb-4">{{total_price|default:0}}원</h1></div>
    </div>
    <form id="confirmed_order_submission" action="{% url 'cafe:old_pay' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    </form>
    

    <div class="payment">
        <div class="row">
            <div id="cash-pay" class="py-5" OnClick="window.history.back();" style="cursor:pointer;" >
                <h1 class="display-1 fw-bolder"><br>현금결제</h1>
            </div>
            <div id="card-pay" class="py-5" OnClick="pay_now();" style="cursor:pointer;">
                <h1 class="display-1 fw-bolder"><br>카드결제</h1>
            </div>
        </div>
    </div>
   

</section>

{% endblock %}