{% extends 'index.html' %} 

{% load post_extras %}

{% block content %}


<script>  
    // GET 방식으로 전송된 데이터 읽기
    $.extend({
        getUrlVars: function(){
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') +1).split('&');
            for(var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            console.log(vars);
            return vars;
        }, 
        
        getUrlVar: function(name) {
            return $.getUrlVars()[name];
        }
        
    });

    function order_now() {
        let cart_items = document.querySelectorAll('[id^=cart--]');
        if (cart_items.length == 0){
            alert("장바구니가 비어있습니다.");
            return
        }

        let menu_list = new Array();
        let menu_counts = new Array();
        
        for (let i=0;i<cart_items.length;i++){
            var menu_id = cart_items[i].id.split("--")[1];
            var cnt = document.getElementById(menu_id + '--count').innerText * 1; 
            console.log(cnt);

            menu_list.push(menu_id);
            menu_counts.push(cnt);
        }
        var usage_type = $.getUrlVar('usage_type');      

        var form = document.getElementById("order_submission");
        var parm = new Array();
        parm.push( ['usage_type', usage_type] );
        parm.push( ['menu_list', menu_list] );
        parm.push( ['menu_counts', menu_counts] );

        var input = new Array();
        for (var i = 0; i < parm.length; i++) {
            input[i] = document.createElement("input");
            input[i].setAttribute("type", "hidden");
            input[i].setAttribute('name', parm[i][0]);
            input[i].setAttribute("value", parm[i][1]);
            form.appendChild(input[i]);
        }
        document.body.appendChild(form);
        form.submit();
    }

</script>
{% comment %} <script>
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return;
    }
    $.ajax{     
        url: 'your url',
        type: 'POST',
        data: formData,
        headers: {"X-CSRFToken": getCookie('csrftoken')},

        success: function (data) {


        },
})
</script> {% endcomment %}


<style>
    .tab_title li {
        list-style: none;
        color: #fff;
        background-color: #399B83;
        border-color: #399B83;
        cursor: pointer;
        padding: 15px 35px;
        display: inline-block;
        margin: 0 0 1rem;
        border-radius: 0.5rem;


      }
      .tab_title li:hover {
        color: #fff;
        background-color: #4AC4A5;
        border-color: #15967d;

      }
    .tab_title li.on {
        color: #fff;
        background-color: #4AC4A5;
        font-weight: bold;
        border-color: #15967d;
        box-shadow: 0 0 0 0.25rem rgba(60, 198, 171, 0.5);

      }
      
      .tab_title li:disabled, .tab_title li.disabled {
        list-style: none;
        color: #fff;
        background-color: #1abc9c;
        border-color: #1abc9c;
      }

    
    .tab_cont {
        clear: both;
        border: 1px solid #dedede;
        background-color: #cecece;
    }

    .tab_cont div {
        text-align: center;
    }

    .tab_cont div.on{
        display: block;
    }
</style>

<section class="my-md-5">
    <div class="row justify-content-center">            
        <!-- Portfolio Grid Items-->
        <ul class="tab_title topbar" style="text-align:center;">
            <li class="on" id="menu_type--hotcoffee">
                <h3 class="masthead-heading text-center text-uppercase text-white mb-0" style="pointer-events: none; ">커피(HOT)</h3>
            </li>
            <li id="menu_type--icecoffee">
                <h3 class="masthead-heading text-center text-uppercase text-white mb-0" style="pointer-events: none; ">커피(ICE)</h3>
            </li>
            <li id="menu_type--noncoffee">
                <h3 class="masthead-heading text-center text-uppercase text-white mb-0" style="pointer-events: none; ">Non Coffee</h3>
            </li>
            <li id="menu_type--smoothie">
                <h3 class="masthead-heading text-center text-uppercase text-white mb-0" style="pointer-events: none; ">스무디</h3>
            </li>
        </ul>    
        
    </div>
    <div class="row justify-content-center"> 
            
        <div class="row justify-content-center" id="menu_content--hotcoffee" style="display: auto;">
            {% for menu in hot_coffee_all %}
                <div class="col-md-4 col mb-5">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal{{menu.id}}">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <!-- Product image-->
                        <img class="card-img-top" src="{{menu.image|fix_route|default:'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'}}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h4 class="fw-bolder">{{menu.title}}</h4>
                                <!-- Product price-->
                                <h4 class="fw-normal" id="{{menu.title}}--price">{{menu.price}} 원</h4>
                                <!-- Product Calorie-->
                                <h5 class="fw-light text-muted">{{menu.calorie}} Kcal</h5>
                                
                            </div>
                        </div>
    
                    </div>
                </div>

                <div class="portfolio-modal modal fade" id="portfolioModal{{menu.id}}" tabindex="-1" aria-labelledby="portfolioModal{{menu.id}}" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                            <div class="modal-body text-center pb-5">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{menu.title}}</h2>
                                            
                                            <!-- Portfolio Modal - Image-->
                                            <img class="img-fluid rounded mb-5" src="{{menu.image|fix_route|default:'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'}}" alt="..." />
                                            <!-- Portfolio Modal - Text-->
                                            <p class="mb-4">{{menu.desc}}</p>
                                            <button class="btn btn-secondary btn-lg" data-bs-dismiss="modal">
                                                <i class="fas fa-xmark fa-fw"></i>
                                                뒤로 가기
                                            </button>
                                            <button class="btn btn-primary btn-lg" data-bs-dismiss="modal" id="addToCart--{{menu.title}}">
                                                <i class="fas fa-xmark fa-fw"></i>
                                                장바구니 담기
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center" id="menu_content--icecoffee" style="display: none;">
            {% for menu in ice_coffee_all %}
                <div class="col-md-4 col mb-5">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal{{menu.id}}">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <!-- Product image-->
                        <img class="card-img-top" src="{{menu.image|fix_route|default:'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'}}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h4 class="fw-bolder">{{menu.title}}</h4>
                                <!-- Product price-->
                                <h4 class="fw-normal" id="{{menu.title}}--price">{{menu.price}} 원</h4>
                                <!-- Product Calorie-->
                                <h5 class="fw-light text-muted">{{menu.calorie}} Kcal</h5>
                                
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="portfolio-modal modal fade" id="portfolioModal{{menu.id}}" tabindex="-1" aria-labelledby="portfolioModal{{menu.id}}" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                            <div class="modal-body text-center pb-5">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{menu.title}}</h2>
                                            
                                            <!-- Portfolio Modal - Image-->
                                            <img class="img-fluid rounded mb-5" src="{{menu.image|fix_route|default:'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'}}" alt="..." />
                                            <!-- Portfolio Modal - Text-->
                                            <p class="mb-4">{{menu.desc}}</p>
                                            <button class="btn btn-secondary btn-lg" data-bs-dismiss="modal">
                                                <i class="fas fa-xmark fa-fw"></i>
                                                뒤로 가기
                                            </button>
                                            <button class="btn btn-primary btn-lg" data-bs-dismiss="modal" id="addToCart--{{menu.title}}">
                                                <i class="fas fa-xmark fa-fw"></i>
                                                장바구니 담기
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center" id="menu_content--noncoffee" style="display: none;">
            {% for menu in non_coffee_all %}
                <div class="col-md-4 col mb-5">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal{{menu.id}}">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <!-- Product image-->
                        <img class="card-img-top" src="{{menu.image|fix_route|default:'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'}}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h4 class="fw-bolder">{{menu.title}}</h4>
                                <!-- Product price-->
                                <h4 class="fw-normal" id="{{menu.title}}--price">{{menu.price}} 원</h4>
                                <!-- Product Calorie-->
                                <h5 class="fw-light text-muted">{{menu.calorie}} Kcal</h5>
                                
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="portfolio-modal modal fade" id="portfolioModal{{menu.id}}" tabindex="-1" aria-labelledby="portfolioModal{{menu.id}}" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                            <div class="modal-body text-center pb-5">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{menu.title}}</h2>
                                            
                                            <!-- Portfolio Modal - Image-->
                                            <img class="img-fluid rounded mb-5" src="{{menu.image|fix_route|default:'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'}}" alt="..." />
                                            <!-- Portfolio Modal - Text-->
                                            <p class="mb-4">{{menu.desc}}</p>
                                            <button class="btn btn-secondary btn-lg" data-bs-dismiss="modal">
                                                <i class="fas fa-xmark fa-fw"></i>
                                                뒤로 가기
                                            </button>
                                            <button class="btn btn-primary btn-lg" data-bs-dismiss="modal" id="addToCart--{{menu.title}}">
                                                <i class="fas fa-xmark fa-fw"></i>
                                                장바구니 담기
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center" id="menu_content--smoothie" style="display: none;">
            {% for menu in smoothie_all %}
                <div class="col-md-4 col mb-5">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal{{menu.id}}">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <!-- Product image-->
                        <img class="card-img-top" src="{{menu.image|fix_route|default:'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'}}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h4 class="fw-bolder">{{menu.title}}</h4>
                                <!-- Product price-->
                                <h4 class="fw-normal" id="{{menu.title}}--price">{{menu.price}} 원</h4>
                                <!-- Product Calorie-->
                                <h5 class="fw-light text-muted">{{menu.calorie}} Kcal</h5>
                                
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="portfolio-modal modal fade" id="portfolioModal{{menu.id}}" tabindex="-1" aria-labelledby="portfolioModal{{menu.id}}" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                            <div class="modal-body text-center pb-5">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{menu.title}}</h2>
                                            
                                            <!-- Portfolio Modal - Image-->
                                            <img class="img-fluid rounded mb-5" src="{{menu.image|fix_route|default:'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'}}" alt="..." />
                                            <!-- Portfolio Modal - Text-->
                                            <p class="mb-4">{{menu.desc}}</p>
                                            <button class="btn btn-secondary btn-lg" data-bs-dismiss="modal">
                                                <i class="fas fa-xmark fa-fw"></i>
                                                뒤로 가기
                                            </button>
                                            <button class="btn btn-primary btn-lg" data-bs-dismiss="modal" id="addToCart--{{menu.title}}">
                                                <i class="fas fa-xmark fa-fw"></i>
                                                장바구니 담기
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</section>

  
 <script>
    let tabButton = document.querySelectorAll('[id^=menu_type]');
    
    // 음료 카테고리에 따른 탭 메뉴 처리
    const tabButtonClickHandle = (e) =>{
        if (e.target !== e.currentTarget) return;
        e.preventDefault();
        
        let id = e.target.id.split("--")[1];
        console.log("selected " + id);
        
        let prevElement = document.querySelector('[class^=on]');
        let prev_id = prevElement.id.split("--")[1];

        $("#menu_type--" + prev_id).removeClass("on");
        $("#menu_content--" + prev_id).hide();
        
        $("#menu_type--" + id).addClass("on");
        $("#menu_content--" + id).show();

    }

    for(let i=0;i<tabButton.length;i++){
        tabButton[i].addEventListener('click',tabButtonClickHandle);
    }

</script>

{% endblock%}

{% block cart %}

<style>
    .bottombar {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0rem;
      }
    .cart-info {
        border-radius: 35px 35px 0px 0px; 
        width: 100%; 
        padding: 1rem 1rem;
    }
    .payment {
        width: 100%; 
    }
    #pay-cancel, #pay {
        width: 50%; 
        text-align: center;
        padding-top: 1rem;
-    }
    #pay-cancel {
        color: #fff;
        background-color: #BEBEBE;
    }
    #pay {
        background-color: #FF0000;
    }
    #pay-cancel:hover {
        color: #555555;
        background-color: #E8E8E8;
    }
    #pay:hover {
        color: #fff;
        background-color: #9B111E;
    }
    #cart-list > * {
        color: #fff;
        text-align: center;
        font-size: 1.25rem;
        padding-bottom: 0.5rem;
        
    }
    #cartElement {
        text-align: left;
        padding-left: 2rem;
    }


</style>
<!-- Portfolio Section-->
<section class="bottombar">
    <form id="order_submission" action="{% url 'cafe:confirm' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    </form>
    <div class="cart-info py-3 bg-secondary">
        <div class="row" id="cart">
            <div class="row" id="headingOne">
                <button class="btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="text-white fw-bolder">주문한 상품 <sup>0</sup></h4>
                </button>
            </div>
            <div class="row accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#cart">
                <div class="accordion-body">
                    <div class="row" id="cart-list">

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="payment">
        <div class="row">
            <div id="pay-cancel" class="py-3" OnClick="location.href ='{% url 'cafe:home' %}'" style="cursor:pointer;" >
                <h5 class="fw-bolder">취소하기</h5>
            </div>
            <div id="pay" class="py-3" OnClick="order_now();" style="cursor:pointer;">
                <div class="row">
                    <div class="col-5 text-white" style="text-align: left; padding-left: 10%;"><h5>결제하기</h5></div>
                    <div class="col-1 text-white" style="text-align: left;">￦</div>
                    <div class="col-3 text-white" id="total-money" style="text-align: right; padding-right: 10%;"><h5>0</h5></div>
                    <div class="col-3 text-white"><h5><i class="bi bi-chevron-right" style="text-align:left;"></i></h5></div>
                </div>
            </div>
        </div>
    </div>
   

</section>


<script>
        // 장바구니 내에서 음료 개수 추가 (Plus 버튼 클릭)
        const addElementButtonClickHandle = (e) =>{
            if (e.target !== e.currentTarget) return;
            e.preventDefault();
            
            console.log(e.target.id);
            let id = e.target.id.split("--")[1];
            console.log("add" + id);
    
            var prev_count = document.getElementById(id + '--count').innerText;
            prev_count *= 1;
            document.getElementById(id + '--count').innerText = prev_count + 1;
    
            // 주문한 상품 총 개수 수정
            var count = document.querySelector("#headingOne > button > h4 > sup").innerText;
            count *= 1;
            document.querySelector("#headingOne > button > h4 > sup").innerText = count + 1;
    
            // 주문 금액 수정
            var price = document.getElementById(id + '--price').innerText.split(' ')[0];
            price *= 1;
    
            var totalPrice = document.getElementById('total-money').innerText;
            totalPrice *= 1;
            document.getElementById('total-money').innerHTML = '<h5>' + (totalPrice + price) + '</h5>';
    
    
        }
    
        // 장바구니 내에서 음료 개수 빼기 (Minus 버튼 클릭)
        const deductElementButtonClickHandle = (e) =>{
            if (e.target !== e.currentTarget) return;
    
            e.preventDefault();
            
            console.log(e.target.id);
            let id = e.target.id.split("--")[1];
            console.log("deduct " + id);
    
            var prev_count = document.getElementById(id + '--count').innerText;
            prev_count *= 1;
    
            // 1개 남았을 경우, div 삭제
            if (prev_count == 1){
                document.getElementById('cart--' + id).remove();
            } 
            else{
                document.getElementById(id + '--count').innerText = prev_count - 1;
            }
            
            // 주문한 상품 총 개수 수정
            var count = document.querySelector("#headingOne > button > h4 > sup").innerText;
            count *= 1;
            document.querySelector("#headingOne > button > h4 > sup").innerText = count - 1;
    
            // 주문 금액 수정
            var price = document.getElementById(id + '--price').innerText.split(' ')[0];
            price *= 1;
    
            var totalPrice = document.getElementById('total-money').innerText;
            totalPrice *= 1;
            document.getElementById('total-money').innerHTML = '<h5>' + (totalPrice - price) + '</h5>';
        }


    
    let addCartButton = document.querySelectorAll('[id^=addToCart]');
    // 장바구니 담기 처리
    const addCartButtonClickHandle = (e) =>{
        e.preventDefault();
        
        let id = e.target.id.split("--")[1];
        console.log("add " + id);

        // 선택한 음료 카테고리가 cart-list에 없는 경우
        if (document.getElementById('cart--' + id) == null){
            let cartListArea = document.getElementById('cart-list');
            cartListArea.innerHTML += '<div class="row" id="cart--'+ id +'"> \
                                        <div class="col-7" id="cartElement">'+ id +'</div> \
                                        <div class="col-1" id="deduct--'+ id +'"><i class="bi bi-dash-circle" style="pointer-events: none;"></i></div> \
                                        <div class="col-2" id="'+ id +'--count">1</div> \
                                        <div class="col-1" id="add--'+ id +'"><i class="bi bi-plus-circle" style="pointer-events: none;"></i></div> \
                                    </div>'
            // Event Listener 추가
            let addElementButton = document.querySelectorAll('[id^=add--]');
            for(let i=0;i<addElementButton.length;i++){
                addElementButton[i].addEventListener('click', addElementButtonClickHandle);
            }
            let deductElementButton = document.querySelectorAll('[id^=deduct--]');
            for(let i=0;i<deductElementButton.length;i++){
                deductElementButton[i].addEventListener('click', deductElementButtonClickHandle);
            }

        }else{
            // 선택한 음료 카테고리가 cart-list에 있는 경우, 개수 수정
            var prev_count = document.getElementById(id + '--count').innerText;
            prev_count *= 1;
            document.getElementById(id + '--count').innerText = prev_count + 1;
        }

        // 주문한 상품 총 개수 수정
        var count = document.querySelector("#headingOne > button > h4 > sup").innerText;
        count *= 1;
        document.querySelector("#headingOne > button > h4 > sup").innerText = count + 1;

        // 주문 금액 수정
        var price = document.getElementById(id + '--price').innerText.split(' ')[0];
        price *= 1;

        var totalPrice = document.getElementById('total-money').innerText;
        totalPrice *= 1;
        document.getElementById('total-money').innerHTML = '<h5>' + (totalPrice + price) + '</h5>';

    }
    for(let i=0;i<addCartButton.length;i++){
        addCartButton[i].addEventListener('click', addCartButtonClickHandle);
    }
</script>


{% endblock %}